.hrvatska {
  fill: #cce8f0;
}

.title {
    font-size: 3.7rem;
    line-height: 4.1rem;
}

.overtitle {
    background-color: #333;
    color: #fff;
    font-size: 1.3rem;
    padding: 7px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.ml-auto {
    margin-left: auto;
}

.blue_text {
    color: #07AEC4;
}

.total {
    position: absolute;
    bottom: 40px;
}

.big_title {
    font-family: 'superclarendonregular';
    font-size: 8rem;
    color: #07AEC4;
}

.big_text {
    font-family: 'superclarendonregular';
    font-size: 2.5rem;
    color: #333;
    display: block;
    margin-bottom: 20px;
}

.locator {
    width: 29px;
    height: 43px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    padding-left: 0px;
}

.locator-1 {
    @extend .locator; 
    background-image: url(../images/col_1.svg);
}    
.locator-2 {
    @extend .locator; 
    background-image: url(../images/col_2.svg); 
}    
.locator-3 {
    @extend .locator; 
    background-image: url(../images/col_3.svg);
}    
.locator-4 {
    @extend .locator; 
    background-image: url(../images/col_4.svg);
}    
.locator-5 {
    @extend .locator; 
    background-image: url(../images/col_5.svg);
}    
.locator-6 {
    @extend .locator; 
    background-image: url(../images/col_6.svg);
}
    
////////// Radio style

input[type="radio"] {
    display:none;
}

input[id="inlineRadio1"] + label span {
    @extend .locator-1;
}

input[id="inlineRadio2"] + label span {
    @extend .locator-2;
}

input[id="inlineRadio3"] + label span {
    @extend .locator-3;
}

input[id="inlineRadio4"] + label span {
    @extend .locator-4;
}

input[id="inlineRadio5"] + label span {
    @extend .locator-5;
}

input[id="inlineRadio6"] + label span {
    @extend .locator-6;
}

input[type="radio"]:checked + label span {
    background-image: url(../images/check.svg);
    width: 40px;
    height: 28px;
}

.d-flex1 {
    display: flex;
}

.d-flex2 {
    display: flex;
}

@media screen and (max-width: 920px) {
    
    .d-flex2 {
        flex-direction: column;
    }
    
    .order {
        order: 3;
    }
    
    .pr-0 {
        padding-left: 0;
    }
        
    .cloud-4 {
        display: none;
    }   
}

.middle {
    background-image: url(../images/background.png);
    background-size: contain;
    padding-top: 0;
}

#map {
    z-index: 2;
}

.cloud {
    position: relative;
}

.cloud-1 {
    width:149px;
    height:37px;
    background-image: url(../images/cloud_1.svg);
    position: absolute;
    top: 70px;
    left: 11px;
    z-index: -1;
}

.cloud-2 {
    width: 126px;
    height: 88px;
    background-image: url(../images/cloud_2.svg);
    position: absolute;
    top: 62px;
    left: 611px;
    z-index: -1;
}

.cloud-3 {
    width: 88px;
    height: 39px;
    background-image: url(../images/cloud_3.svg);
    position: absolute;
    top: 253px;
    left: 310px;
    z-index: -1;
}

.cloud-4 {
    width: 374px;
    height: 298px;
    background-image: url(../images/people.svg);
    position: absolute;
    top: 263px;
    left: 410px;;
    z-index: -1;
}

.cloud-5 {
    width: 714px;
    height: 298px;
    background-image: url(../images/people_3.svg);
    position: absolute;
    top: 263px;
    left: 410px;;
    z-index: -1;
}

.pin_color_ {
    &1 {fill: #305777};
    &2 {fill: #6D5C7D};
    &3 {fill: #C16C86};
    &4 {fill: #F2717F};
    &5 {fill: #F9B293};
    &6 {fill: #66BE6C};
}

.form_a {
    background-color: #84C8D7;
}

.form-horizontal .control-label {
    text-align: left;
    font-family: 'superclarendonregular';
    color: #fff;
    height: 50px;
    font-size: 2rem;
    line-height: 3.4rem;
}

.form-control {
    background-color: #CCE8F0;
    border: none;
    color: #333;
    height: 50px;
} 

.pr-0 {
    padding-right: 0;
}

.btn-danger1 {
    background-color: #F2717F;
    border: none;
    border-radius: inherit;
    color: #fff;
    line-height: 43px;
    float: right;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'superclarendonregular';
    padding-left: 23px;
}

.btn-danger2 {
    background-color: #F2717F;
    border: none;
    border-radius: inherit;
    color: #fff;
    float: right;
    height: 60px;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'superclarendonregular';
    padding-left: 15px;
}

.btn-danger1:after {
    content: " ";
    background-image: url(../images/col_white.svg);
    height: 30px;
    width: 20px;
    margin: 0 10px 0 20px;
    display: inline-block;
    position: relative;
    top: 5px;
}

.close {
    font-size: 71px;
}


////////// Modal

.modal-content .name {
    text-align: left;
    font-family: 'superclarendonregular';
    color: #aaa;
    height: 35px;
    font-size: 2rem;
    line-height: 4rem;
}

.modal-content .city {
    text-align: left;
    font-family: 'superclarendonregular';
    color: #aaa;
    font-size: 2rem;
}

.modal-content .desc {
    text-align: left;
    font-family: 'superclarendonregular';
    color: #aaa;
    font-size: 4rem;
    line-height: 4.5rem;
}
